html,
body {
  margin: 0;
  padding: 1rem;
  font-family: monospace;
  background: #ddd;
}

h1 {
  text-align: center;
  margin: 1rem auto 3rem;
  font-size: clamp(2em, 10vw, 8em);
  font-weight: 400;
}

h1 span::before {
  content: '@';
  animation: blink 3s infinite;
}

/* HOME */
.homeMain {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.table {
  background-color: lightgray;
  display: table;
  table-layout: fixed;
  /* border-collapse: collapse; */
  text-align: initial;
  width: max-content;
}

.table, .table td {
  border: thin solid black;
}

.table td:last-child {
  text-align: right;
}

.table td {
  padding: 1em;
}

input {
  background-color: lightgray;
}
.ageInput {
  width: 3em;
}

@keyframes blink {

  0%,
  50%,
  70%,
  95% {
    content: '@';
  }

  65%,
  90% {
    content: '—';
  }
}

p {
  margin: 0 auto 1em;
}
